html {
    height: 100%;
    background-color: #6B7B8C;
}
body {
    margin: 0;
    padding: 0;
    padding-top: 150px;
    font-family: Arial, sans-serif;
    background-color: #B0BDC9;
}

header {
    width: 100%;
    height: 150px;
    margin-top: -150px;
    background-color: #6B7B8C;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 10px 20px rgb(59, 59, 59);
    position: fixed;
    z-index: 1000;
}
#Logobox {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
}
#Logobox img {
    width: 100%;
    height: 100%;
}
nav {
    width: 60%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
}
.NavOp {
    max-width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Lexend Mega;
    margin-right: 10px;
    font-size: 10pt;
    text-align: center;
}
a , a:visited{
    text-decoration: none;
    color: white;
}
#CartBox {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
}
.material-icons {
    color: white;
    transform: scale(2);
    margin-top: 60px;
}


@media screen and (max-width: 980px) {
    body {
        padding-top: 200px;
    }
    header {
        flex-direction: column;
        height: 200px;
        margin-top: -200px;
        
    }
    #Logobox {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        order: 1;
    }
    nav {
        width: 90%;
        height: 50px;
        order: 3;
        margin: 0 auto;
    }
    .NavOp {
        height: 50px;
        font-size: 7pt;
    }
    #CartBox {
        width: 100%;
        height: 50px;
        order: 2;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        margin-top: -100px;
        
    }
    .material-icons {
        font-size: 30px;
        margin-right: 10vw;
        transform: scale(2);
        margin-top: 0vw;
        display: none;
    }
}




/* Banner */

#Banner {
    text-align: center;
    width: 100%;
    background-color: #6B7B8C;



}
#BannerImg {
    width: 100%;
}

#BtnBox {
    width: 100px;
    height: 40px;
    background-color: black;
    margin: 0 auto;
    margin-top: -100px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    z-index: 10;
    opacity: 0.8;
}
#BtnBox button {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 10000px;
    border: none;
    cursor: pointer;

}
@media screen and (max-width: 1200px) {
    #BtnBox {
        width: 75px;
        height: 30px;
        margin-top: -50px;
    }
    #BtnBox button {
        width: 15px;
        height: 15px;
    }
    
}

@media screen and (max-width: 630px) {
    #BtnBox {
        width: 100%;
        border-radius: 0px;
        height: 20px;
        margin-top: 0px;
    }
    #BtnBox button {
        width: 33%;
        height: 100%;
        border-radius: 5px;
    }

}






/* Specialities */
#Specialities {
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: #6B7B8C;
    margin-top: 50px;
}
@media screen and (max-width: 1200px) {
    #Specialities {
        margin-top: -20px;
    }
}
@media screen and (max-width: 630px) {
    #Specialities {
        margin-top: -40px;
    }
}
#SpecText {
    color: white;
    padding-top: 30px;
    font-size: 30pt;
    font-family: Lexend Mega;
}

#FoodBar{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -30px;
}
.FoodBox img {
    height: 200px;
    border-radius: 50px;
    margin-top: -20px;
    margin: 0 auto;
}
#FlatBread {
    height: 160px;
    margin-top: 30px;
}

.FoodBox    {
    height: 220px;
}
.FoodBox h2 {
    color: white;
    font-family: Lexend Mega;
    font-size: 20pt;
    margin-top: 20px;
    
}
#Wine {
    height: 180px;
}

#FlatText {
    margin-top: -20px;
}
#Mains {
    margin-top: -30px;
}
#DessText {
    margin-top: -30px;
}
#WineText {
    margin-top: -10px;
}
@media screen and (max-width: 980px) {
    #Specialities {
        height: 50vw;
    }
    #FoodBar {
        height: 500px;
        margin-top: -180px;
    }
    #SpecText {
        font-size: 5vw;
    }
    .FoodBox {
        height: 20vw;
    }
    .FoodBox img {
        height: 25vw;
    }
    .FoodBox h2 {
        margin-top: 0px;
        font-size: 3vw;
    }
    #FlatBread {
        height: 20vw;
        margin-top: 3vw;
    }
    #FlatText {
        margin-top: 0.5vw;
    }
    #Mains {
        margin-top: -10px;
    }
    #DessText {
        margin-top: -10px;
    }
    #WineText {
        margin-top: 0px;
    }
    
}
@media screen and (max-width: 500px) {
    .FoodBox {
        margin-top: -80px;
    }
}







/* Locations */
#Locations{
    text-align: center;
    background-color: B0BDC9;
}
#Locations img {
    width: 100%;
}
#Locations h2 {
    color: black;
    font-size: 30pt;
    font-family: Lexend Mega;
}
#Locations h3 {
    font-size: 20pt;
}
#LocationsBox {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-size: 15pt;
    font-family: Lexend Mega;
}
@media screen and (max-width: 980px) {
    #LocationsBox {
        flex-direction: column;
        height: 110px;
    }
    #Locations h2 {
        font-size: 5vw;
    }
    #Locations h3 {
        font-size: 3vw;
        margin-top: -20px;
    }
}



/* Footer */
footer {
    width: 100%;
    max-height: 300px;
    background-color: #6B7B8C;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px -10px 5px #888888;
}
.footbox {
    width: 33%;
    display: flex;
    color: white;
}
.footbox img {
    height: 70%;
}
#red {
    text-align: center;
    padding-bottom: 20px;
}
#red h2 {
    margin: 0 auto;
    margin-top: 10px;
}
#green {
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#green h2 {
    margin: 0 auto;
    margin-top: 10px;
}
#SocialsBox {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vw;
}
#CopyText {
    margin-top: 4vw;
}
#Facebook {
    color: white;
    font-size: 30pt;
    transform: scale(3);
    margin: 0 auto;
}
#Insta {
    color: white;
    font-size: 30pt;
    transform: scale(3);
    margin: 0 auto;
}
@media screen and (max-width: 980px) {
    footer {
        max-height: 300px;
    }
    #FootLogoBox {
        display: none;
    }
    #red {
        width: 50%;
        font-size: 3vw;
    }
    #red h2 {
        max-width: 80%;
    }
    #green {
        width: 50%;
        font-size: 3vw;
    }
    #green h2 {
        max-width: 80%;
    }
    .SmallFont {
        font-size: 2.5vw;
    }
    #Facebook {
        transform: scale(2);
    }
    #Insta {
        transform: scale(2);
    }
    #CopyText {
        font-size: 2vw;
    }
}
@media screen and (max-width: 600px) {
    #Facebook {
        transform: scale(1.3);
    }
    #Insta {
        transform: scale(1.3);
    }
}
